.game-container,
.screen-container,
.input-container,
.score-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

body {
  position: relative;
}
h2 {
  color: white;
}
.screen-container {
  //background-image: url('https://www.spriters-resource.com/resources/sheets/40/42920.png');
  background-image: url('https://vignette.wikia.nocookie.net/finalfantasy/images/0/0f/FFIV_Battle_Background_Waterway_Land_SNES.png/revision/latest?cb=20100220192624');
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 700px;
}
.screen-border {
  margin: 10px 10%;
}
.game-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  position: relative;
}
.input-container {
  width: 50%;
  height: 100%;
}
.score-container {
  height: 100%;
  width: 50%;
  position: relative;
}
.score-tile-container {
  display: flex;
  flex-direction: row;
}
.start-button,
.score-board {
  display: flex;
  flex-direction: column;
  margin: 10px 5%;
  width: 50%;
  height: 100px;
  text-align: left;
}
.start-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 50px;
  margin-top: 80px;
  width: 30%;
}

.game-tile {
  width: 12.5%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
}
.game-container {
  //background-color: black;
  color: white;
  top: 10px;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.wordBubble {
  position: fixed;
  height: 20%;
  margin-left: 2%;
}
.enemy {
  height: 80%;
  position: absolute;
}
#player {
  height: 100%;
  padding-bottom: 30%;
  padding-right: 30%;
}
#background {
  position: absolute;
  width: 80%;
  height: 65%;
}
#bottom-panel {
  display: flex;
  flex-direction: row;
  margin: 10px 10%;
  justify-content: flex-start;
}
.nes-container.is-rounded.is-dark {
}
.nes-balloon.from-left {
  color: black;
}
