.game-container,
.screen-container,
.input-container,
.score-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

body {
  position: relative;
}
h2 {
  color: white;
}
.screen-container {
  //background-image: url('https://www.spriters-resource.com/resources/sheets/40/42920.png');
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 500px;
}
.screen-border {
  margin: 0 10%;
}
.game-row {
  background-image: url('https://vignette.wikia.nocookie.net/finalfantasy/images/0/0f/FFIV_Battle_Background_Waterway_Land_SNES.png/revision/latest?cb=20100220192624');
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  position: relative;
}
.input-container {
  width: 50%;
  height: 100%;
  margin: 10px 0;
}
.score-container {
  height: 100%;
  width: 50%;
  position: relative;
  margin: 10px 0;
}
.score-tile-container {
  display: flex;
  flex-direction: row;
}
.start-button,
.score-board {
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 50%;
}
.start-button {
  height: 50px;
  width: 30%;
  margin: 0px 10%;
}

.game-tile {
  width: 12.5%;
  min-height: 100px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
.game-container {
  //background-color: black;
  color: white;
  //top: 10px;
  //bottom: 10px;
  width: 1500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
}
.wordBubble {
  position: absolute;
  margin-left: 20px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column-reverse;
}
.enemy {
  height: 100%;
  position: absolute;
}
.player-info {
  height: 95px;
  width: 90%;
  margin: 0 5%;
  padding: 30px 0;
}
.player-info dd {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.leader-board dd dl {
  margin: 0;
}
.leader-board-header {
  color: orange;
  font-size: 30px;
}
.leader-board {
  margin: 5% 10% 0 10%;
}
.leader-board h1 {
  color: #64e659;
}
.game-container .leader-board .nes-container.with-title.is-rounded.is-dark.is-centered {
  width: 80%;
  margin: 100px 10%;
  height: 1000px;
}
.form {
  margin: 3% 30%;
  text-align: center;
}
.form div {
  margin: 20px;
}
.form div label {
  color: white;
}
.top-bar .name a,
.top-bar-section .right a {
  font-family: 'Press Start 2P';
}
#error_explanation,
#error_explanation h2 {
  color: red;
}
#app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#player {
  height: 100px;
  padding-bottom: 10%;
  padding-right: 10%;
}
#background {
  position: absolute;
  width: 80%;
  height: 65%;
}
#bottom-panel {
  display: flex;
  flex-direction: row;
  margin: 10px 10%;
  justify-content: flex-start;
}
.screen-border .nes-container.is-rounded.is-dark {
  padding: 0 0 0.6% 0;
}
.nes-balloon.from-left {
  color: black;
}
.top-bar {
}
.top-bar,
.right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  height: 50px;
}
.title-area {
  padding: 5px 0;
}
.right dl {
  padding: 12px 10px;
}
a:visited {
  color: white;
}
.flash.flash-alert {
  text-align: center;
  color: red;
}
