/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.game-container,
.screen-container,
.input-container,
.score-container {
  margin: 10px;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.screen-container {
  display: flex;
  flex-direction: column;
  height: 700px;
  margin: 10px 10%;
  justify-content: space-around;
}
.game-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.input-container {
  margin: 10px 30%;
}
.score-container {
  margin: 10px 20%;
  height: 200px;
}
.start-button {
  margin: 10px 25%;
}
.game-tile {
}
